.navBar {
  box-sizing: border-box;
  display: flex;
  position: fixed;
  background-color: inherit;
  height: 8vh;
  width: 100%;
  top: 0%;
  left: 0%;
  align-items: center;
  justify-content: space-between;
  padding: 2vh;
}

.options {
  background-color: #ff3366;
  height: 3px;
  width: 20px;
  margin-top: 5px;
}

.optionsLink {
  background-color: inherit;
  border: none;
}

.optionsLink:hover {
  cursor: pointer;
  background-color: inherit;
}
